.buttons {
    width: 100%;
    padding-top: 50px;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    max-height: 100vh;
}
.row {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    button {
        width: 25vw;
        height: 20vw;
        font-size: 2vw;
        background-color: blueviolet;
        color: white;
    }
}