
<div class="buttons">
    <div class='row'>
        <button mat-raised-button routerLink="daily-pain">How's Your Pain Today?</button>
        <button mat-raised-button routerLink="weather">Weather</button>
        <button mat-raised-button routerLink="medications">Medications</button>
    </div> 
    <div class='row'>
        <button mat-raised-button routerLink="weekly-recap">Weekly Recap</button>
        <button mat-raised-button routerLink="monthly-recap">Monthly Recap</button>
        <button mat-raised-button routerLink="log">Log</button>
    </div> 
  <!-- <button mat-raised-button disabled>Disabled</button> -->
  <!-- <a mat-raised-button routerLink=".">Link</a> -->
</div>